.navbar.navbar-inverse#header
	.container
		.navbar-header
			%button.navbar-toggle{type: 'button',data:{toggle: :collapse,target:'.navbar-collapse'}}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.logo{href: '/index.html'}
				%img{src: '/assets/logo.png',alt:'ラーメン山岡家'}
		.navbar-collapse.collapse
			%ul.nav.navbar-nav.navbar-right
				%li
					%a{href:'/index.html'} 
						%span.glyphicon.glyphicon-home
						ホーム
				%li{class: request.fullpath.include?('/shops') ? 'active' : '' }
					%a{href:'/shops/index.html'}
						%span.glyphicon.glyphicon-shop_window
						店舗
				%li{class: request.fullpath.include?('/menus') ? 'active' : '' }
					%a{href:'/menus/categories/regular'} 
						%span.glyphicon.glyphicon-pot
						メニュー
				%li{class: request.fullpath.include?('/etc') ? 'active' : '' }
					%a.dropdown-toggle{href:'#',data:{toggle: :dropdown}}
						%span.glyphicon.glyphicon-info
						about
						%b.caret
					%ul.dropdown-menu
						%li
							%a{href:'/contents/etc/212',title: 'このHPについて',tabindex: -1} このHPについて
						%li
							%a{href:'/contents/etc/211',title: 'サイトマップ',tabindex: -1} サイトマップ
						%li
							%a{href:'/contents/etc/207',title: 'SNSガイドライン',tabindex: -1} SNSガイドライン
				%li{class: request.fullpath.include?('/feedbacks') ? 'active' : '' }
					%a{href:'/feedbacks.html'}
						%span.glyphicon.glyphicon-send
						ご意見・ご感想
