.col-xs-4.pull-right.text-right{:style=>"padding-top:5px;"}
	.fb-like{:data=>{:layout=>"button", :action=>"like", :show=>{:faces=>"true"}, :share=>"false"}, :style=>"float:right;"}
	%a{:href=>"https://twitter.com/share", :class=>"twitter-share-button", :data=>{:lang=>"ja", :count=>"none"}, :style=>"float:right; margin-top:5px;"}
		ツイート
