.container#main
	.row
		.col-md-5
			#lat.hidden=@shop.lat
			#lng.hidden=@shop.lng
			#sprite_x.hidden=@shop.sprite_x
			#sprite_y.hidden=@shop.sprite_y
			#zoom.hidden=@shop.zoom
			=ymage_tag "images/shops/photos/#{@shop.id}.jpg",size: '300x300',cls: ['shop-image', 'img-rounded']
			%hr
			=render partial: 'yamaokaya_shop_details',locals: {shop: @shop}
		.col-md-7
			=render partial: 'yamaokaya_map',locals:{shop: @shop}
	.row
		%h3.col-xs-12 近くのお店
		- @shop.nearby.each do |n|
			.col-md-3
				.thumbnail
					.caption
						%h4=n.name
					=ymage_tag "images/shops/photos/#{n.id}.jpg",size: '180x300',cls: ['shop-image', 'img-rounded']
					.caption
						%p
							%span.glyphicon.glyphicon-road
							=n.address
						%p
							%span.glyphicon.glyphicon-phone_alt
							=n.phone
						%p=link_to "店舗情報",shop_details_path(n.id), :class => "btn btn-primary"
