.container#main
  .row
    .col-md-7
      = render partial: 'yamaokaya_shop_images',locals:{shop: @shop}
    .col-md-5
      #lat.hidden=@shop.lat
      #lng.hidden=@shop.lng
      #sprite_x.hidden=@shop.sprite_x
      #sprite_y.hidden=@shop.sprite_y
      #zoom.hidden=@shop.zoom
      =render partial: 'yamaokaya_map',locals:{shop: @shop}
      =render partial: 'yamaokaya_shop_details',locals: {shop: @shop}