.container#main
	.col-md-12.col-sm-12.col-xs-12#map_area
		#index-map.well{style: 'min-height:450px;'}
		#user-latlng.invisible.hidden
	.col-md-12.col-sm-12.col-xs-12
		-#unless is_phone?
		-#	.jumbotron
		-#		%p.lead 
		-#			山岡家の店舗は全国#{Shop.active.size}店舗。
		-#			%br
		-#			お近くの山岡家にぜひお越しください。
		-if is_phone?
			%select.form-control#mobile-pref-selector
				- @regions.each do |r|
					%optgroup{label: r.name}
						- r.prefectures.each do |p|
							%option{value: "##{p.id}"}
								=p.name

		- @regions.each do |r|
			%h3{id: r.id}=r.name
			.clearfix
				- r.prefectures.each do |p|
					- p.areas.each do |area|
						-unless area.shops.empty?
							.col-md-4.col-xs-12
								.panel.panel-default
									.panel-heading
										%h4{id: area.prefecture.id}
											=area.prefecture.name
											=area.name
									.list-group
										-area.shops.each do |s|
											=link_to shop_details_path(s.id),class: 'list-group-item' do
												=s.name
												- ss = s.shop_status
												-#%span.label.label-info.pull-right 
													-#P
													-#%span.glyphicon.glyphicon-truck
												-if s.allnight?
													%span.label.label-primary.pull-right 24H
												%span.label.pull-right{class: "label-#{ss[:status]}"}
													=ss[:text]
