.after-nav.container-full
	.container
		.row
			%h2.col-xs-12
				%span.glyphicon.glyphicon-shop_window
				店舗一覧
.container
	.row
		%ol.breadcrumb.col-xs-8.pull-left
			%li
				=link_to :yamaokaya_top do
					トップ
			%li
				店舗情報
		-#SNSボタンの読み込み
		=render partial: 'yamaokaya_sns'

.container#main
	.col-md-4
		-#%script{src: 'shops_tmp.js'}
		#index-map.well
		%p ご覧になりたい地域をクリックしてください。
	.col-md-8.col-sm-12.col-xs-12.pull-right
		.jumbotron
			%p.lead 山岡家の店舗は全国137店舗（平成26年1月現在）。<br>お近くの山岡家にぜひお越しください
		-cache do
			- @regions.each do |r|
				%h3=r.name
				.clearfix
					- r.prefectures.each do |p|
						- p.areas.each do |area|
							-unless area.shops.empty?
								.col-md-3.col-xs-12
									.panel.panel-default
										.panel-heading
											%h4
												=area.prefecture.name
												=area.name unless area.whole_prefecture
										.list-group
											-area.shops.each do |s|
												=link_to shop_details_path(s.id),class: 'list-group-item' do
													=s.name
						
	.col-md-4.pull-left.hidden-xs.hidden-sm.imagemap-wrap#map_area
