.container
    .row
        .col-md-12.box1
            %h3 よりお得に！山岡家のサービス券
            .st_inner
                %figure
                    =ymage_tag 'images/articles/st_mv-pc.png',cls:"hidden-sm hidden-xs",alt:"サービス券の枚数によって選べる"
                    =ymage_tag 'images/articles/st_mv-sp.png',cls:"hidden-md hidden-lg",alt:"サービス券の枚数によって選べる"
                %figure
                    =ymage_tag 'images/articles/st_50bn-pc.png',cls:"hidden-sm hidden-xs",alt:"50枚集めて必ずTシャツがもらえる"
                    =ymage_tag 'images/articles/st_50bn-sp.png',cls:"hidden-md hidden-lg",alt:"50枚集めて必ずTシャツがもらえる"
                .tshirtArea
                    %dl.tshirt_box
                        %dt いま貰えるTシャツ
                        %dd
                            %figure
                                =ymage_tag 'images/articles/tshirts/T14-pc.png',cls:"hidden-sm hidden-xs",alt:"Tシャツ"
                                =ymage_tag 'images/articles/tshirts/T14-sp.png',cls:"hidden-md hidden-lg",alt:"Tシャツ"
                    .col-md-6.tshirt_txt
                        %dl
                        %dt 2020年干支、ねずみと招き猫ヤマオカマン
                        %dd 色は新しい1年がより明るいものになるように、オレンジ色です。
                    .col-md-6.tshirt_form
                        %a.btn.btn-primary{:href => "http://assets.yamaokaya.com.s3.amazonaws.com/articles/t_shirt_request.pdf", :role => "button", :target => "_blank"} 申込用紙はこちら
                        %p.note 申込用紙（PDF）をダウンロードいただき、市販の封筒に50枚のサービス券を同封のうえ、関東事務所まで郵送下さい。
                -# .next_tshirtArea
                -#     %h4
                -#         =ymage_tag 'images/articles/st_next.png',alt:"次回のTシャツ"
                -#     .next_tshirt_data
                -#         .col-md-6
                -#         %h5 2019年1月より開始
                -#         %p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                -#         .col-md-6
                -#         %figure
                -#             =ymage_tag 'images/articles/st_next_tshirt.png',alt:"次回のTシャツ"
                -#         %br{:clear => "all"}
        .col-md-12.box2
            %h3 お店で使う
            %p 5枚以上貯まったら、お店にお持ちいただき、スタッフにまとめてお渡しください。
            %p ※使用期限（発行日から1年間）を過ぎたものはご利用いただけません。予めご了承ください。
            .st_inner
                .st_list
                    %ul
                        %li
                            %h5
                                =ymage_tag 'images/articles/st_s5.jpg',alt:"5枚で貰える"
                            %figure
                                =ymage_tag 'images/articles/st_how_01.png',alt:"特製ギョーザ"
                            %h4 特製ギョーザ 一皿
                            %p その場でお召し上がりいただけます。
                        %li
                            %h5
                                =ymage_tag 'images/articles/st_s10.jpg',alt:"10枚で貰える"
                            %figure
                                =ymage_tag 'images/articles/st_how_02.png',alt:"ラーメン"
                            %h4 ラーメン1杯
                            %p
                                その場でお召し上がりいただけます。
                                %br/
                                醤油・味噌・塩のなかからいずれか一杯お選びください。+100円で特製味噌ラーメン・辛味噌ラーメンをお召し上がりいただくことも可能です。
                                %br/
                                もちろん、トッピングやサイドメニューを別途購入いただき、あわせてご注文いただいてもOKです。
                        %li
                            %h5
                                =ymage_tag 'images/articles/st_s13.jpg',alt:"13枚で貰える"
                            %figure
                                =ymage_tag 'images/articles/st_how_03.png',alt:"プレミアム塩とんこつラーメン"
                            %h4 プレミアム塩とんこつラーメン1杯
                            %p
                                その場でお召し上がりいただけます。
                                %br/
                                もちろん、トッピングやサイドメニューを別途購入いただき、あわせてご注文いただいてもOKです。
                        %li
                            %h5
                                =ymage_tag 'images/articles/st_s13.jpg',alt:"13枚で貰える"
                            %figure
                                =ymage_tag 'images/articles/st_how_04.png',alt:"つけ麺"
                            %h4 つけ麺一杯
                            %p
                                その場でお召し上がりいただけます。
                                %br/
                                醤油・味噌いずれか一杯お選びください。+100円で辛味噌つけ麺をお召し上がりいただくことも可能です。
                                %br/
                                もちろん、トッピングやサイドメニューを別途購入いただき、あわせてご注文いただいてもOKです。
                        %li
                            %h5
                                =ymage_tag 'images/articles/st_s13.jpg',alt:"13枚で貰える"
                            %figure
                                =ymage_tag 'images/articles/st_how_05.png',alt:"期間限定ラーメン"
                            %h4 期間限定ラーメン１杯
                            %p
                                その場でお召し上がりいただけます。
                                %br/
                                もちろん、トッピングやサイドメニューを別途購入いただき、あわせてご注文いただいてもOKです。
                        %li
                            %h5
                                =ymage_tag 'images/articles/st_s50.jpg',alt:"50枚で貰える"
                            %figure
                                =ymage_tag 'images/articles/st_how_06.png',alt:"オリジナルTシャツ"
                            %h4 山岡家オリジナルTシャツ1枚
                            %p
                                申込用紙(PDF)をダウンロードいただき、市販の封筒に50枚のサービス券同封のうえ、関東事務所まで郵送ください。
                                %br/
                            .form
                                %a.btn.btn-primary{:href => "http://assets.yamaokaya.com.s3.amazonaws.com/articles/t_shirt_request.pdf", :role => "button", :target => "_blank"} 申込用紙はこちら
