.container
	.row
		.page-header
			%h2
				=tt :title
				%small=tt :subtitle
	.row
		.col-sm-12.col-md-6
			=ymage_tag 'images/corporate/ir/calenderq1q2.gif',width: '100%',size: :origin
		.col-sm-12.col-md-6
			=ymage_tag 'images/corporate/ir/calenderq3q4.gif',width: '100%',size: :origin