.container
	.row
		.page-header
			%h2
				=tt :title
				%small=tt :subtitle
	.row
		.col-sm-12.col-md-6
			=image_tag 'corporate/ir/calenderq1q2.gif',width: '100%'
		.col-sm-12.col-md-6
			=image_tag 'corporate/ir/calenderq3q4.gif',width: '100%'