.container
  .row
    .page-header
      %h2
        =tt :title
        %small= tt :subtitle
  .row
    .col-md-7
      %p
        毎年1月末および、7月末時点の株主名簿に記載されている 1単元(100株)以上の株式を保有いただいている株主様を対象に、
        株主様特別優待券をお贈りさせていただきます。
    .col-md-5
      .panel.panel-default
        .panel-heading
          %h3.panel-title ご贈呈の時期
        %table.table
          %col{width: '30%'}
          %col{width: '*'}
          %thead
          %tfoot
          %tbody
            %tr
              %th 毎年1月末基準
              %td 毎年6月下旬頃の発送を予定しております。
            %tr
              %th 毎年7月末基準
              %td 毎年12月中旬頃の発送を予定しております。
  .row
    .col-md-12
      %h2 優待内容
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title 
            ラーメン(630円相当)を無料でお召し上がりいただける、株主様特別優待券をお贈りいたします。
        %table.table
          %col{width: '40%'}
          %col{width: '*'}
          %thead
            %tr
              %th ご所有の株式数
              %th 優待内容
          %tfoot
          %tbody
            %tr
              %th 100株以上 500株未満
              %td 630円相当の優待券2枚(1,260円相当)
            %tr
              %th 500株以上 1000株未満
              %td 630円相当の優待券4枚(2,520円相当)
            %tr
              %th 1000株以上
              %td 630円相当の優待券6枚(3,780円相当)
    .col-md-6
      %ul.list-group.small
        %li.list-group-item
          株主優待券は山岡家全店でご利用いただけます。
        %li.list-group-item
          有効期限は、発行日から半年間とさせていただきます。
        %li.list-group-item
          株主優待券１枚で、醤油ラーメン・味噌ラーメン・塩ラーメンのいずれか1杯(普通盛り)とのお取替えとなります。
        %li.list-group-item
          株主優待券は、他の割引券との併用はできません。
        %li.list-group-item
          株主優待券と現金の引換はできません。また、現金との差額対応はいたしません。
        %li.list-group-item
          株主優待券はお一人様1回につき、1枚限りご利用いただけます。
        %li.list-group-item
          株主優待券の盗難・紛失に対しては、当社はその責を負いません。
  .row
    .col-md-12
      %h2 お米をご希望の場合
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            ラーメン山岡家へのご来店が困難な株主様向けに、株主優待券とのお引き換えにて、お米をお贈りいたします。
        %table.table
          %col{width: '40%'}
          %col{width: '*'}
          %thead
            %tr
              %th ご所有の株式数
              %th 優待内容
          %tfoot
          %tbody
            %tr
              %th 100株以上 500株未満
              %td お米 2kg
            %tr
              %th 500株以上 1000株未満
              %td お米 4kg
            %tr
              %th 1000株以上
              %td お米 6kg
    / .col-md-6
    /   %ul.list-group.small
    /     %li.list-group-item
    /       お米をご希望される場合は、株主優待券を返信用封筒に同封してご返送ください。当社に到着した株主優待券と引き換えにお米を発送させていただきます。
    /     %li.list-group-item
    /       お贈りするお米は、北海道産 おぼろづきを予定しております。
    /     %li.list-group-item
    /       毎年4月頃及び10月頃に発送した株主優待券を、それぞれ毎年6月30日及び12月31日までにご返送ください。
    /     %li.list-group-item
    /       お米がお手元に届くまでに、1ヶ月ほどかかる場合がございます。
    /     %li.list-group-item
    /       株主優待券とお米を併用することはできません。
    /     %li.list-group-item
    /       株主優待券は、未使用状態のものをご返送ください。