=render partial: 'recruit_title',locals: {title: tt(:title),subtitle: tt(:subtitle)}
.container
	.row
		.article-box.col-sm-10.col-sm-offset-1.col-xs-12.well-lg
			=render partial: 'requirements'
	.row
		.text-center
			=link_to '応募する',entries_path(:career),{class: %w(btn btn-primary)}