.panel.panel-default
	.panel-heading
		%h3.panel-title
			%span.glyphicon.glyphicon-pin
			=t :title,scope: [ctrl,act]
			.label.label-info=t :title,scope: [ctrl]
	.panel-body
		=ymage_tag image ,cls: 'img-rounded',:height => 100,align: :left,size: '120x120'
		%p.truncate=t(:bodies,scope: [ctrl,act])[0]
	.panel-footer.text-right
		=link_to "続きを読む",{action: act,controller: ctrl},{:class => 'btn btn-primary'}
			
