.panel.panel-default
	.panel-heading
		%h3.panel-title
			%span.glyphicon.glyphicon-pin
			最新情報
			.label.label-info=t :title,scope: :ir
	%table.table
		%thead
		%tfoot
		%tbody
			-@list = IrTopic.find(10)
			-cache @list do
				-@list.each do |topic|
					%tr
						%th
							=l topic.released.to_date ,format: :short
							.badge=IrTopic.human_attribute_name topic.type	
						%td
							%a{href:topic.url,target: '_blank'}
								=topic.title
							%i.fa.fa-file-pdf-o
							(#{topic.size}KB)
	.panel-footer.text-right
		=link_to '一覧',{controller: :ir,action: :library},class: "btn btn-primary"