.panel.panel-default
	.panel-heading
		%h3.panel-title
			%span.glyphicon.glyphicon-pin
			最新情報
			.badge=t :title,scope: :ir
	%table.table
		%thead
		%tfoot
		%tbody
			-@list = IrTopic.find(10)
			-cache @list do
				-@list.each do |topic|
					%tr
						%th
							=l topic.released.to_date ,format: :short
							-if topic.type == '短信'
								.label.label-success=topic.type
							-else
								.label.label-info=topic.type	
						%td
							%a{href:topic.url,target: '_blank'}
								=topic.title
							%i.fa.fa-file-pdf-o
							(#{topic.size}KB)
	.panel-footer.text-right
		=link_to '続きを読む',{controller: :ir,action: :index},class: "btn btn-primary"