.panel.panel-default
	.panel-heading
		%h3.panel-title
			%span.glyphicon.glyphicon-pin
			ラーメン山岡家
	.panel-body
		%img.img-rounded{src:'http://mozshot.nemui.org/shot/large?http://www.yamaokaya.com/',width: '45%',align: :left}
		%p 濃厚豚骨でガツンときて、くせになる、ラーメン山岡家のサイトはこちらから！
	.panel-footer.text-right
		=link_to 'ラーメン山岡家へ',"http://www.yamaokaya.com",class: "btn btn-primary"