.container
	/ .row
	/ 	.jumbotron#catch
	/ 		ラーメンでお客さんに喜んでもらう
	/ 		=t 'foo'
	.row
		.col-md-4.col-xs-12
			=render partial: 'ir_block'
		.col-md-8.col-xs-12
			.row
				.col-md-6.col-xs-12
					=render partial: 'yam_block'
				.col-md-6.col-xs-12
					=render partial: 'block',locals:{ctrl: :top,act: :greetings}
				.col-md-6.col-xs-12
					=render partial: 'block',locals:{ctrl: :business,act: :safety}
				.col-md-6.col-xs-12
					=render partial: 'block',locals:{ctrl: :business,act: :development}
				.col-md-6.col-xs-12
					=render partial: 'block',locals:{ctrl: :business,act: :products}
				.col-md-6.col-xs-12
					=render partial: 'block',locals:{ctrl: :business,act: :hospitality}


