.container
  .row
    .col-md-12
      .row
        %blockquote
          - tt(:leads).each_with_index do |v,i|
            -if i == 2 || i == 3
              %p.strong= v
            -else
              %p= v
  .row
    .page-header
      %h2
        =tt :title
  .row
    .col-md-4
      %h3=tt('visions.vision.title')
      - tt('visions.vision.title.bodies').each do |v|
        %p=v
    .col-md-4
    .col-md-4

