.navbar.navbar-inverse#header
	.container
		.navbar-header
			%button.navbar-toggle{type: 'button',data:{toggle: :collapse,target:'.navbar-collapse'}}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			=link_to yamaokaya_top_url,class: :logo do
				=ymage_tag 'images/assets/logo.png',alt:'ラーメン山岡家'
		.navbar-collapse.collapse
			%ul.nav.navbar-nav.navbar-right
				%li
					=link_to :recruit_top do
						%span.glyphicon.glyphicon-home
						ホーム
				%li
					%a.dropdown-toggle{href:'#',data:{toggle: :dropdown}}
						%span.glyphicon.glyphicon-info
						新卒
						%b.caret
					%ul.dropdown-menu
						%li
							=link_to :message_graduates do
								人材開発チームより
						%li
							=link_to :interview_graduates do
								先輩インタビュー
						%li
							=link_to :requirements_graduates do
								募集要項
						%li
							=link_to :rikunavi,target: '_blank' do
								エントリー(リクナビ2016)
						%li
							=link_to entries_path(type: :graduates2) do
								エントリー(第二新卒)
								
				%li
					%a.dropdown-toggle{href:'#',data:{toggle: :dropdown}}
						%span.glyphicon.glyphicon-info
						中途採用
						%b.caret
					%ul.dropdown-menu
						%li
							=link_to :message_career do
								人材開発チームより
						%li
							=link_to :interview_career do
								先輩インタビュー
						%li
							=link_to :requirements_career do
								募集要項
						%li
							=link_to entries_path(type: :career) do
								エントリー
				%li
					%a.dropdown-toggle{href:'#',data:{toggle: :dropdown}}
						%span.glyphicon.glyphicon-info
						パート・アルバイト
						%b.caret
					%ul.dropdown-menu
						%li
							=link_to :message_pa do
								人材開発チームより
						%li
							=link_to :interview_pa do
								先輩インタビュー
						%li
							=link_to :requirements_pa do
								募集要項
						%li
							=link_to entries_path(type: :pa) do
								エントリー