body.menus{
	.price,.wotax{
		font-size: 2.5em;
		color: red;
		font-weight: bolder;
	}
	.menu-intro{
		font-family:serif;
		font-size:1.7em;
	}
	.menu-detail-picture{
	    position: relative;
	    overflow: hidden;
	    margin-bottom: 8px;
	    margin-top: 8px;
	    padding:2px;
	    background-color: white;
	    .tags{
			position: absolute;
			left: 0px;
			top: 0px;
			background: rgba(255,255,255,0.3);
			height: 80px;
			color: black;
			padding: 10px 10px 0 10px;
			font-size: $font-size-large;
	    	.label{
				display: table;
				margin-bottom: 2px;
				text-align: left;
				direction: ltr;
	    	}
	    }
	    img.photo{
	    	width:100%;
			padding-bottom: 20px;
	    }
	    .actions{
			width: 100%;
			position: absolute;
			background: rgba(255,255,255,0.3);
			height: 80px;
			left: 0;
			bottom: 0px;
			overflow: hidden;
			*zoom: 1;
			.price-area{
				@extend .text-right;
				vertical-align: text-bottom;
				font-size: $font-size-large;
				color: black;
			}
	    }
	}

	.menu_details{
		h4{
			font-family: sans-serif;
			font-size: 3.5em;
			font-weight: bold;
		}
		.commets{
			font-size: $font-size-large;
		}
		.price-area{
			@extend .text-right;
			vertical-align: text-bottom;
			font-size: $font-size-large;
		}
	}

	.panel-menu{
		border-color: $gray;
		.panel-heading{
			color:$almost-white; 
			background:$brand-primary;
			h4.panel-title{
				padding:8px; 
				font-size:$font-size-large; 
			}
		}
		.panel-body{
			background: url(/i/origin/images/bg02.jpg) repeat-x;
		}
	}
	.menu-box{
		background: url(/i/origin/images/bg02.jpg) repeat-x;
	}

   .picture {
	    position: relative;
	    overflow: hidden;
	    margin-bottom: 8px;
	    margin-top: 8px;
	    padding:2px;
	    cursor: pointer;
	    background-color: $almost-white;
	    .tags{
			position: absolute;
			right: 2px;
			top: 2px;
			direction: rtl;
	    	.label{
				display: table;
				margin-bottom: 2px;
				text-align: left;
				direction: ltr;
	    	}
	    }
	    img{
	    	width:100%;
			padding-bottom: 20px;
	    }
	    
	    .actions{
			width: 100%;
			position: absolute;
			background-color: $gray-darker;
			@include opacity(0.4);
			height: 30px;
			left: 0;
			bottom: 0px;
			overflow: hidden;
			*zoom: 1;
			.btn-link{
				color: $almost-white;
				text-shadow: none;
			}
			.pull-right .btn-link{
				position: relative;
				top: 1px
			}
	    }
	    &:hover .actions{
	    	@include opacity(1);
	    	background-color: $brand-primary;
	    }
	}
	#modal{
		color: $gray-darker;
	   .picture {
	   		width:100%;
		    cursor: default;
		    background-color: white;
		    img.photo{
		    	width:100%;
		    }
		    .actions{
				height: 120px;
				background-color: rgba(255,255,255,0.7);
				img.digit{
					width:20px;
					height:50px;
					vertical-align: baseline;
				}
				.yen{
					font-size: 150%;
				}
				.zeikomi{
					font-size: 70%;
					margin-right: 10px;
				}
				.zeinuki{
					font-size: 100%;
				}
		    }
		    &:hover .actions{
				background-color: rgba(255,255,255,0.7);
		    }
		}
	}
	.carousel-inner > .item > img{
		margin:0 auto;
	}
}
