body.yamaokaya.shops{
	#index-map{
		width:95%;
		height:350px;
	}
	.jumbotron{
		background: url('/i/origin/images/shops/bg03.jpg') no-repeat center;
	}
	.shop-image{
		width:100%;
	}
	.table caption{
		font-size: $font-size-large;
	}
	.fixed {
		position: fixed;
		// top: 0;
		z-index: 200;
	}
	#map a{
		color:blue;
	}
	a.list-group-item{
			color: white;
			background-color: darken(white,50%);
		&:hover{
			background-color: $brand-primary;
		}
	}
}
