body.yamaokaya.shops{

	.nerby-shops-picture{
	    position: relative;
	    overflow: hidden;
	    margin-bottom: 8px;
	    margin-top: 8px;
	    padding:2px;
	    background-color: white;
	    .tags{
			position: absolute;
			width:100%;
			left: 0px;
			top: 0px;
			background: rgba(255,255,255,0.5);
			color: black;
			height: 30px;
			padding: 4px 4px 0 4px;
			font-size: $font-size-large;
			h4{
				font-size: $font-size-large;
				font-weight: bold;
			}
	    	.label{
				display: table;
				margin-bottom: 2px;
				text-align: left;
				direction: ltr;
	    	}
	    }
	    img.photo{
	    	width:100%;
			padding-bottom: 20px;
	    }
	    .actions{
			width: 100%;
			position: absolute;
			background: rgba(255,255,255,0.5);
			padding: 8px 4px 4px 4px;
			color: black;
			height: 40px;
			left: 0;
			bottom: 0px;
			overflow: hidden;
			*zoom: 1;
			.price-area{
				@extend .text-right;
				vertical-align: text-bottom;
				font-size: $font-size-large;
				color: black;
			}
	    }
	}
	#index-map{
		width:100%;
		height:350px;
	}
	.jumbotron{
		background: url('/i/origin/images/shops/bg03.jpg') no-repeat center;
	}
	.shop-image{
		width:100%;
	}
	.table caption{
		font-size: $font-size-large;
	}
	.fixed {
		position: fixed;
		// top: 0;
		z-index: 200;
	}
	#map a{
		color:blue;
	}
	a.list-group-item{
			color: white;
			background-color: darken(white,50%);
		&:hover{
			background-color: $brand-primary;
		}
	}
}
