- tt(:persons).each_with_index do |a,i|
	.row
		.col-md-6.col-sm-6
			.picture
				=ymage_tag a["image"]
				.actions
					%h4
						=a["name"]
						%small=a["furigana"]
					%p=a['status']
		.col-md-6.col-sm-6
			%h4.message-title
				%span.glyphicon.glyphicon-comments
				=a["lead"]
			%p
				-a["text"].each do |t|
					%p=t
			.text-center
				%a.btn.btn-primary{href: '#'} 続きを見る
	-if i < tt(:persons).length-1
		%hr