.container#main
  %h3 ご意見・ご感想をお聞かせください

  .col-md-12.col-xs-12
    %p
      山岡家では、お客様のご意見に基づいて、より良い味・より良いサービスを追求しております。ぜひ、お客様の率直なご意見をお聞かせください。
    %p
      アンケートのご協力を頂いた方には抽選で粗品を進呈いたします。 ご協力をお願いいたします。
    %p
      %span{style:"color:red;"} ※
      印がついている項目は必ずご入力頂き、その他につきましては差支えのない範囲でお答え下さい。
  =render partial: 'feedbacks_form'