=render partial: 'yamaokaya_noty'
%section
	=render partial: 'yamaokaya_carousel'
%section
	=render partial: 'yamaokaya_top_shop'
%section
	=render partial: 'yamaokaya_top_menu'
%section
	=render partial: 'yamaokaya_top_corp'