@import "compass";
@import "corporate/variables";
@import "bootstrap";
@import "common";

@include keyframes(fadein) {
  0% {
    @include opacity(0);
  }
  100% {
    @include opacity(1);
  } 
}
body.corporate{
	form{
		.mini{
			// 日付用
			width:20%;
		}
		fieldset{
			legend{
			}
			.form-group.form-inline{
				label.control-label:first-child{
					width:10.5em;
				}
				.field_with_errors{
					display: inline-block;
					@extend .has-error;
					label{
						color:red;
					}
				}
			}
		}
	}


	.chart{
		height:350px;
	}
	footer{
		font-size: $font-size-small;
		border-top: solid 0.5em $brand-primary;
		margin-top: 4em;
		padding-top: 1em;
		background: url('/i/origin/images/corporate/fback.png');
		background-color: $gray-darker;
		color: white;
		.footer-main{
		}
		.footer-copyright{
			clear: both;
			.row{
				height: 24px;
				line-height: 24px;
				border-top:1px dotted $gray-light;
			}
		}
		.widget{
			padding:5px;
			margin-bottom:5px;
			font-size:$font-size-small;
			a{
				color:$gray-lighter;
			}
			ul{
				list-style-type:none;
				padding-left: 1.5em;
			}
			li:before{
				content: '>';
				color: $brand-primary;
				font-weight: bold;
			}
			h4{
				font-size:15px;
				padding-bottom:5px;
				border-bottom:1px dotted $gray-light;
				margin-bottom:5px;
				span{
					color: $brand-primary;
				}
			}
		}
	}
	.breadcrumb{
		background: transparent;
		margin:0;
		padding:0;
	}
	.social{
		a,a:visited,a:hover{
			color:#fff;
			text-decoration:none;
		}
		i{
			display:inline-block;
			height:30px;
			width:30px;
			font-size:15px;
			text-align:center;
			line-height:30px;
			@include border-radius(30px);

		}
	}



	.side-image{
		position:relative;
		margin:0 auto;
		width:100%;
		min-height: 400px;
		img {
			width:100%;
			position:absolute;
			left:0;
			top:0;
			@include border-radius(10px);
			@include transition-property(opacity);
			@include transition-duration(0.8s);
			@include transition-timing-function(ease-in-out);
			&.top{
				-webkit-animation-name: fadein;
				-webkit-animation-duration: 4s;
				-moz-animation-name: fadein;
				-moz-animation-duration: 4s;
				-ms-animation-name: fadein;
				-ms-animation-duration: 4s;
				animation-name: fadein;
				animation-duration: 4s;
				&:hover{
					@include opacity(0);
				}
			}
		}
	}

	background:url('/i/origin/images/corporate/bg.jpg') repeat;
	&.ir{
		table{

			caption{
				font-weight: 600;
				text-align: left;
				padding:0.2em;
				background-color: $gray-light;
				color:white;
				&:before{
					content:"▼";
					color: $brand-primary;
				}

			}

			small{
				color: $gray;
			}
		}

		.chart{
			height:350px;
		}
	}
	.panel,.timatter{
		dt{
			border-bottom: dotted 1px $brand-primary;
		}
		dd{
			padding-left:0.5em;
			font-size: $font-size-small;
		}
	}

	header{
		border-top: solid 3px $brand-primary;
	}
	h1{
		padding:3px;
		margin:0;
		font-size:$font-size-small;
	}
	h2{
		font-family: $font-family-serif;
		font-weight: 600;
	}

	&.top{
		#catch{
			background:#000 url('/i/origin/images/corporate/top/catch.jpg') 50% 0 no-repeat;
		}		
	}
	header{
		padding:25px 0px 0px 0px;
		border-bottom:1px solid #ddd;
		background:url('/i/origin/images/corporate/header-back.png') repeat;
	}

	.time{
		margin:5px 0px 10px 0px;
		padding:5px 0px 10px 0px;
		border-bottom:1px solid #f4f4f4;
		padding:10px;
		.tidate{
			width:70px;
			height:70px;
			text-align:center;
			line-height:70px;
			float:left;
			color:#fff;
			font-weight:700;
			font-size:14px;
			@include border-radius(35px);
			background: $brand-primary;
		}
		.timatter{
			width:80%;
			float:right;
			background:#fff;
			border:1px solid #ddd;
			padding:5px 10px;
			@include border-radius($border-radius-base);
			p{
				color:$gray;
				font-size:$font-size-small;
			}
		}
	}
	.cal{
		min-height:300px;
		// line-height:300px;
		vertical-align: middle;
		overflow: visible;
		.popover{
			line-height:14px;
		}
	}
}