@import "compass";
@import "yamaokaya/variables";
@import "bootstrap";
@import "common";
@import "yamaokaya/top";
@import "yamaokaya/shops";
@import "yamaokaya/menus";
@import "yamaokaya/feedbacks";
body.yamaokaya{
	.nerby{
		h2{
			background-color: $brand-primary;
			padding:3px;
		}
	}
	a.logo{
		img{
			width:250px;
		}
	}
	.after-nav{
		background-color: $brand-primary;
		border-top:solid 1px white;
		height:40px;
		overflow: hidden;
		h2{
			font-size: 2em;
			padding:0;
			margin:9px;
		}
	}
	.footer{
		background: url('/i/origin/images/bg_footer.png') darken($brand-primary,8%) top right no-repeat;
		#footer{
			padding-top:10px;
			p{
				text-align: justify;
				text-justify: inter-ideograph;
			}
		}
		h4{
			border-bottom: dotted 1px $gray-lighter;
			padding-bottom: 3px;
			&:before{
				content: '▼';
				color: lighten($brand-primary,30%);
			}
		}
		img.img-thumbnail{
			float: left;
			max-width: 40%; 
			margin:5px; 
		}
	}
	.bottom-nav{
		padding:3px;
		background:$gray-dark;
		color:white;
		clear: both;
		border-top: solid 1px white;
	}
	.copyright{
		padding:7px 0;
		background:$gray-darker;
		color:white;
		clear: both;
	}

	.container#main{
		@include bg('/i/origin/images/shops/bg.jpg');
		padding-top:30px;
		padding-bottom:30px;
		@include border-radius();
	}
	img{
		&.sns-button{
			margin:5px;
		}
	}
	.navbar{
		border-top: $brand-primary 3px solid;
		margin-bottom: 0;
		.active{
			background-color: #b30404;
			a{
				background-color: #b30404 !important;
			}
		}
		.open{
			.dropdown-menu{
				a{
					background-color: white !important;
				}
			}
		}
	}
	h2,h3{
		@include text-shadow(rgba(darken($brand-primary,80%), 0.2) 1px 1px 0, rgba(darken($brand-primary,70%), 0.2) 2px 2px 0, rgba(darken($brand-primary,80%), 0.2) 3px 3px 0);
	}

	h3{
		padding:5px;
		font-family:serif;
		font-weight: 600;
		font-size:2.6em;
		color:white;
		background:transparent;
		border-bottom:solid 1px white;
	}
	.thumbnail{
		h1,h2,h3,h4,h5,a{
			color: $gray-darker;
		}
		.btn{
			color:white;
		}
	}

	form.inquiry{
		.mini{
			// 日付用
			width:20%;
		}
		fieldset{
			legend{
				color:white;
				background-color: $brand-primary;
				@include opacity(0.9);
			}
			.form-group.form-inline{
				label.control-label:first-child{
					width:10.5em;
				}
				label.required:before{
					content: '※';
					color: $brand-primary;
				}
				.field_with_errors{
					display: inline-block;
					@extend .has-error;
					label{
						background-color:red;
					}
				}
			}
		}
	}

	.footer{
		fieldset{
			legend{
				color:white;
				background-color: none;
				@include opacity(1);
				font-size: $font-size-h4;
			}
		}
	}

	.container-full{
		margin: 0 auto;
		width: 100%;
	}
	#page-top {
		position: fixed;
		bottom: 20px;
		right: 20px;
		font-size: 77%;
		a {
			background: #666;
			text-decoration: none;
			color: #fff;
			width: 100px;
			padding: 30px 0;
			text-align: center;
			display: block;
			border-radius: 5px;
		}
		a:hover {
			text-decoration: none;
			background: #999;
		}
	}
}

