.container
  .row
    %h2 
      ページが見つかりません
      %small 404 not found.
    %p
      申し訳ございません。お探しのページが見つかりませんでした。
    %p
      ご指定のアドレス（URL）が正しく入力されている場合は、ページが移動した可能性があります。
    %p
      メニューからご覧になりたいページをお探しください。