%footer
	.footer-main
		.container
			.row
				.col-md-7
					=render 'corporate_address'
				.col-md-5
					=render 'corporate_footer_sitemap'
	.footer-copyright
		.container
			.row
				%p.col-xs-12.text-center
					&copy; 2014 Maruchiyo YAMAOKAYA Corp.