%header
	.container
		.row
			.col-xs-10.col-sm-10
				=link_to corp_top_url do
					=ymage_tag 'images/corporate/logo3.png',size: :origin,alt: '株式会社丸千代山岡家'
				%h1 
					=link_to yamaokaya_top_url do
						ラーメン山岡家
					を経営する株式会社丸千代山岡家
			.col-xs-2.col-sm-2
				.social.text-right
					=link_to 'https://twitter.com/yamaokaya_pr',target: '_blank'do
						%i.fa.fa-twitter.twitter
					=link_to 'https://www.facebook.com/yamaokaya',target: '_blank' do
						%i.fa.fa-facebook.facebook
.navbar.navbar-static-top.navbar-default#header
	.container
		.navbar-header
			%button.navbar-toggle{type: 'button',data:{toggle: :collapse,target:'.navbar-collapse'}}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
		.navbar-collapse.collapse
			%ul.nav.navbar-nav
				%li
					%a.dropdown-toggle{href:'#',data:{toggle: :dropdown}}
						%span.glyphicon.glyphicon-info
						ホーム
						%b.caret
					%ul.dropdown-menu
						%li
							=link_to :corp_top do
								ホーム
						%li
							=link_to :greetings do
								代表ごあいさつ
				%li
					%a.dropdown-toggle{href:'#',data:{toggle: :dropdown}}
						%span.glyphicon.glyphicon-info
						会社情報
						%b.caret
					%ul.dropdown-menu
						%li
							=link_to :overview do
								会社概要
						%li
							=link_to :history do
								ヒストリー
				%li
					%a.dropdown-toggle{href:'#',data:{toggle: :dropdown}}
						%span.glyphicon.glyphicon-info
						事業
						%b.caret
					%ul.dropdown-menu
						%li
							=link_to :business do
								事業概要
						%li
							=link_to :products do
								商品の強み
						%li
							=link_to :hospitality do
								心地よいお店づくり
						%li
							=link_to :safety do
								食の安心・安全
						%li
							=link_to :development do
								出店ポリシー
				%li
					%a.dropdown-toggle{href:'#',data:{toggle: :dropdown}}
						%span.glyphicon.glyphicon-info
						IR
						%b.caret
					%ul.dropdown-menu
						%li
							=link_to :ir_top do
								株主・投資家の皆様へ
						%li
							=link_to :highlight do
								財務ハイライト
						%li
							=link_to :calender do 
								IRカレンダー
						%li
							=link_to :library do
								IRライブラリ
						%li
							=link_to :market do
								株式情報
						%li
							=link_to :disclaimer do
								免責事項
				%li
					=link_to :property do
						物件募集
				%li
					%a.dropdown-toggle{href:'#',data:{toggle: :dropdown}}
						%span.glyphicon.glyphicon-info
						about
						%b.caret
					%ul.dropdown-menu
						%li
							=link_to :about do
								このサイトについて
						%li
							=link_to :sitemap do
								サイトマップ
						%li
							=link_to :sns_guideline do 
								SNSガイドライン
				%li
					=link_to recruit_top_url(),target: '_blank' do
						採用スペシャルサイト

