.container
	.row
		%ol.breadcrumb
			-page.tree_from_root.each do |p|
				%li
					-if p.url.nil? || p == page.tree_from_root.last
						=p.short_title
					-else
						=link_to p.short_title,p.url

