#headerwrap
	.top_logo
		=ymage_tag 'images/recruit/logo_l.png', alt:'ラーメン山岡家',size: '700x134',cls: ['img-responsive','center-block']
	.container
		.row.b20
			.col-md-8.col-md-offset-2.text-center.col-sm-12
				%h1 目指すのは、お客様･社会･社員から喜ばれる会社です。
				%h2 将来その核となるのは皆さん！ぜひ当社で力を発揮して下さい！！