#headerwrap
  .top_logo
    =ymage_tag 'images/recruit/logo_l.png', alt:'ラーメン山岡家',size: '700x134',cls: ['img-responsive','center-block']
  .container
    .row.b20
      .col-md-8.col-md-offset-2.text-center.col-sm-12
        %h1 目指すのは、お客様･社会･社員から喜ばれる会社です。
        %h2 将来その核となるのは皆さん！ぜひ当社で力を発揮して下さい！！
    .row
      .col-md-6.col-md-offset-3.text-center
        .row
          %h3 2017年度 新卒エントリー受付中！
        .row
          %a{href: "https://job.mynavi.jp/17/pc/search/corp76637/outline.html",target: "_blank"}
            %img{src: "https://job.mynavi.jp/conts/kigyo/2017/logo/banner_entry_130_130.gif",alt:"マイナビ2017",border:"0"}
          %a{href: "https://job.rikunabi.com/2017/company/top/r373520049/",target: "new"}
            %img{src: "https://job.rikunabi.com/2017/static/common/contents/logos/rikunabi/image/rn_logo_b.gif",border: 0,style: 'height:46px;'}
          %hr
