=static_map_for_shop(@shop)
.btn-group
	%button.btn.btn-primary.btm-sm#show_shop{role: :button,type: :button}
		周辺の地図を表示
	%button.btn.btn-primary.btm-sm#find_route{role: :button,type: :button} 
		現在地からの道順を表示
