.navbar.navbar-inverse#header
	.container
		.navbar-header
			%button.navbar-toggle{type: 'button',data:{toggle: :collapse,target:'.navbar-collapse'}}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			=link_to :yamaokaya_top do
				=ymage_tag 'images/logo.png',alt:'ラーメン山岡家'
		.navbar-collapse.collapse
			%ul.nav.navbar-nav.navbar-right
				%li{class: controller_name == 'top' ? 'active' : '' }
					=link_to :yamaokaya_top do
						%span.glyphicon.glyphicon-home
						ホーム
				%li{class: controller_name == 'shops' ? 'active' : '' }
					=link_to :shop_root do
						%span.glyphicon.glyphicon-shop_window
						店舗
				%li{class:  controller_name == 'menus' ? 'active' : '' }
					=link_to menu_categorized_path(:regular) do
						%span.glyphicon.glyphicon-pot
						メニュー
				%li{class:  controller_name == 'etc' ? 'active' : '' }
					%a.dropdown-toggle{href:'#',data:{toggle: :dropdown}}
						%span.glyphicon.glyphicon-info
						about
						%span.caret
					%ul.dropdown-menu{role: :menu}
						%li
							=link_to :about do
								このHPについて
						%li
							=link_to :sitemap do
								サイトマップ
						%li
							=link_to :sns_guideline do
								SNSガイドライン
						%li
							=link_to :mag_faq do
								メルマガが届かない場合
						%li.divider
						%li
							=link_to corp_top_url,target: '_blank' do
								%span.glyphicon.glyphicon-home
								㈱丸千代山岡家 コーポレートページ
						%li
							=link_to recruit_top_url,target: '_blank' do
								%span.glyphicon.glyphicon-user
								採用スペシャルサイト
				%li{class: controller_name == 'feedbacks'}
					=link_to :feedbacks do
						%span.glyphicon.glyphicon-send
						ご意見・ご感想
