.footer
	.container
		.row#footer
			.col-md-4
				%h4 山岡家のネット通販「山岡家商店」
				.panel.panel-warning
					.panel-heading
						%a{href:"https://shop.yamaokaya.jp/", target:'_shop.yamaokaya.jp'}
							=ymage_tag "images/footer/ec_title.png",style:'width:100%;'
					.panel-body
						.row
							- [138246013,138117440,138139985,138240837,138245639,102856735,105222964,111980692,129217218,111979704,134347867,115141613,131293882].sample(2).each do |t|
								.col-md-6.col-sm-6.col-xs-6
									%a{href:"https://shop.yamaokaya.jp/?pid=#{t}", target:'_shop.yamaokaya.jp'}
										=ymage_tag "images/footer/#{t}.jpg", size:"160x160" ,style:'width:100%;border:solid 1px #DDD'
			.col-md-5
				- ['men','negi','chashu','tonkotsu'].sample(2).each do |t|
					=render "yamaokaya_footer_article_#{t}"
			.col-md-3.col-xs-12
				%h4 メルマガ会員募集！
				%p 山岡家のメルマガに登録して、お得なクーポンや最新情報をGETしよう！
				%p 今なら、なんとギョーザ無料クーポンを進呈（ご登録後2週間以内に配信）！
				%p
					=link_to 'http://my.gnavi.co.jp/brand/top.php?cType=rsmyo01' ,class: %w(btn btn-primary) ,target: '_blank' do
						会員登録はこちら
				%p
					うまく登録できない場合は…
				%p
					%ul
						%li yamaokaya.com
						%li gnavi.co.jp
					のドメイン指定解除をお願い致します。
					詳しくは
					=link_to :mag_faq  do
						こちら
.bottom-nav
	.container
		.row
			.col-xs-6.col-sm-1.col-sm-offset-4
				=link_to :yamaokaya_top,class: %w(btn btn-link) do
					ホーム
			.col-xs-6.col-sm-1
				=link_to :shop_root,class: %w(btn btn-link) do
					店舗
			.col-xs-6.col-sm-1
				=link_to menu_categorized_path(:regular),class: %w(btn btn-link) do
					メニュー
			.col-xs-6.col-sm-1
				=link_to :feedbacks,class: %w(btn btn-link) do
					ご意見・ご感想
	.col-md-3.hidden-xs
		%a.smoothScroll.top_btn#page-top{href:'#header'}
			=ymage_tag "images/btn_topback.png", size:"67x67"
.copyright
	.container
		.row
			%p.col-xs-12.text-center
				&copy; 2014 Maruchiyo Yamaokaya Corporation
