%section.col-xs-12#shop
	.container
		.jumbotron.col-md-12.text-center
			%h2 すべてのお客様に、「本当に旨いラーメン」をご提供したい。
			%p
				「手作りのおいしいラーメン」と、
				「心のこもったサービス」を一人でも多くのお客様に・・・
			%p
				全国各地に広がる、ラーメン山岡家。お店の検索はこちらから！
			%p
				=link_to :shop_root,role: :button,class:'btn btn-primary btn-lg' do
					店舗情報を見る