%section.col-xs-12#menu
	.container
		.jumbotron.col-md-12.text-center
			%h2 いくつものこだわりが隠された山岡家のラーメン
			%p 4日間豚骨を煮込んだ濃厚なスープと、そのスープが絡みつく極太ストレート麺、
			%p 特製のタレで煮炊いた本格チャーシュー、白髪ネギ山盛りのネギラーメン・・・
			%p 無性に食べたくなる山岡家のラーメンはこちらから！
			%p
				%a.btn.btn-primary.btn-lg{role: :button,href:'menus/categories/regular'} メニューを見る
