%ul.bxslider
  - @shop.images.each do |i|
    %li
      =ymage_tag i[:key],size: '600x450',title: t(i[:type],p: 10,b: @shop.booths, c: @shop.seats_at_counter, k: 4,t: 20)
#bx-pager
  - @shop.images.each_with_index do |i,idx|
    %a{href: '',data:{slide: {index: idx}}}
      =ymage_tag i[:key],size: '120x90'
