.col-sm-4.col-xs-12.pull-right.text-right{:style=>"padding-top:5px;"}
	%a{href: "https://twitter.com/share", class: "twitter-share-button", style:"float:right; margin-top:5px;",data:{lang: :en,hashtags: "ramenyamaokaya",count: :none}}
		Tweet
	.fb-like{style: "float:right;",data: {layout: :button, action: :like,show: {faces: true}, share: true}}
