.modal.fade#myModal{tabindex: -1,role: :dialog,aria:{labelledby: :myModalLabel,hidden: true}}
	.modal-dialog
		.modal-content
			.modal-header

				%button.close{type: :button,data:{dismiss: :modal},aria:{hidden:true}} &times;
				%h4.modal-title お近くの店舗
			.modal-body
				%ul.nav.nav-tabs
					-@shops.each_with_index do |shop,idx|
						%li{class: idx == 0 ? :active : nil}
							%a{href:"#shops#{shop.id}",data:{toggle: :tab}}
								%span.glyphicon.glyphicon-shop
								=shop.name		
				.tab-content
					-@shops.each_with_index do |shop,idx|
						.tab-pane.panel.panel-default{id: "shops#{shop.id}",class: idx == 0 ? :active : nil}
							%h2=shop.name
							=ymage_tag "images/shops/photos/#{shop.id}.jpg",size: '300x200',cls: ['shop-image', 'img-rounded']

