.col-md-6.clearfix
	%h4 この麺だからこそ。
	%p
		= ymage_tag "images/footer/men.jpg", cls:"img-thumbnail",size: '100x100'
		表面はソフトでありながら、芯が強く、小麦の香り高い特製の太麺を使用。
	%p
		この麺を支えるのは、厳選された小麦と、毎日の気温や湿度などに合わせて
		製造方法を変えて作る麺職人の熟練技。
	%p
		この麺だからこそ、濃厚な豚骨スープの中にあっても、決して力負けしない、バランスのとれた一杯となるのです。