-if @shop.jobop_url
	-if @shop.jobop_priority == 1
		%hr
	.row
		.col-md-12
			%h4="私達と一緒に働きませんか？" 
		.col-md-12
			- @banner = rand(3)
			=link_to shop_jobop_redirect_path(key: @shop.id,banner: @banner),target: "_new" do
				=ymage_tag "images/shops/recruit-banner-#{@banner}.jpg",size: :origin,alt: "ラーメン山岡家#{@shop.name}で私達と一緒に働きませんか？" 
	-if @shop.jobop_priority == 2
		%hr