.container
	.row
		.col-xs-12
			.panel.panel-default
				.panel-heading.original-news
					%h4.panel-title 
						%span.glyphicon.glyphicon-shop
						Topics
				.panel-body.noty-message
					%table.table
						- @headlines.news.each do |r|
							%tr
								%td
									%span.label.label-danger.pull-left
										=r.target_date.strftime("%m/%d")
								%td
									%a.original-news{href:r.url}
										%span.glyphicon.glyphicon-bullhorn
										=r.title