.col-md-6.clearfix
	%h4 チャーシューも手作り。
	%p
		= ymage_tag "images/footer/chashu.jpg", cls:"img-thumbnail",size: '100x100'
		山岡家のチャーシューは肉本来の旨味を最も味わえる肩ロースを使用。
		煮崩れしないように紐で縛った肩ロースの塊を1時間弱茹で上げます。
	%p
		これを、店舗で毎日継ぎ足し継ぎ足し作っている秘伝の特製タレに漬け込み、
		完成です。
	%p
		手作りにこだわる山岡家では、1店舗1店舗で、毎日チャーシューを作っています。