.container
	%hr
	.row
		.col-xs-12
			Quick Navi
		.col-xs-6.text-center
			=link_to :shop_root,class: %w(btn btn-primary),role: :button do
				店舗検索	
		.col-xs-6.text-center
			=link_to menu_categorized_path(:regular),class: %w(btn btn-primary),role: :button do
				メニュー
		.col-xs-6.text-center
			=link_to :feedbacks,class: %w(btn btn-primary),role: :button do
				ご意見・ご感想
		.col-xs-6.text-center
			=link_to recruit_top_url,class: %w(btn btn-primary),role: :button do
				採用スペシャルサイトへ
	%hr
	.row
		.col-xs-12
			.panel.panel-default
				.panel-heading.original-news
					%h4.panel-title 
						%span.glyphicon.glyphicon-shop
						Topics
				.panel-body.noty-message
					%table.table
						- @headlines.news.each do |r|
							%tr
								%td
									%span.label.label-danger.pull-left
										=r.target_date.strftime("%m/%d")
								%td
									%a.original-news{href:r.url}
										%span.glyphicon.glyphicon-bullhorn
										=r.title