.row
	.col-xs-12
		%h3=tt params[:category]
	.col-md-12.col-xs-12.menu-intro
		- tt("contents.intro.#{params[:category]}").each do |intro|
			%p=intro
.row
	- @menus.subcategories.each do |t|
		- menus = @menus.send(t[0])
		- if menus.size > 0
			.panel.panel-default.panel-menu
				.panel-heading
					%h4.panel-title
						=tt t[0]
						%small=tt("contents.intro.#{t[0]}")
				.panel-body
					- menus.each do |m|
						.col-md-2.col-sm-4.col-xs-12
							.picture.well
								.tags
								.actions
									=link_to m.name, menu_details_path(m.id), {class:"btn btn-link modal-link", title: m.name,remote: request.variant != :phone}
								=link_to menu_details_path(m.id),{remote: request.variant != :phone} do
									=ymage_tag "images/menus/photos/#{m.id}.png",size: '180x180'