.col-md-6.clearfix
	%h4 厳選豚骨と水。それだけ。
	%p
		=ymage_tag "images/footer/soup.jpg", cls:"img-thumbnail",size: '100x100'
		創業者・山岡正が長年かけて追い求めた究極のスープが、すべてのお店に受け継がれています。
	%p
		厳選された豚骨を惜しげも無く大量に投入。丸3日煮込み続けて、4日目にようやくお客様のもとに届きます。
	%p
		最初の3日間は、熟練職人の厳しい眼のもとひたすら加熱。
		4日目に入ったスープにはとても繊細な管理が求められます。
		微妙な火力管理で、
		3日前に入れた豚骨からコクと甘みを、新たに投入した豚骨から旨味を引き出します。