.noty-slide.hidden-xs
	.noty-button
		%span.glyphicon.glyphicon-shop.original-news
		%span.glyphicon.glyphicon-social-facebook.facebook
		%span.glyphicon.glyphicon-social-twitter.twitter
	.clearfix
	.noty-content
		.panel-group#accordion
			.panel.panel-default
				.panel-heading.original-news
					%a{href: '#collapse-01',data:{toggle: :collapse,parent: '#accordion'}}
						%h4.panel-title 
							%span.glyphicon.glyphicon-shop
							Topics
				.panel-collapse.collapse#collapse-01
					.panel-body.noty-message
						%table.table
							- @headlines.news.each do |r|
								%tr
									%td
										%span.label.label-danger.pull-left
											=r.target_date.strftime("%m/%d")
									%td
										%a.original-news{href:r.path}
											%span.glyphicon.glyphicon-bullhorn
											=r.title
					.panel-footer
						-#TODO 有効にする
						=link_to '一覧を見る',:releases,class: %w(btn btn-primary btn-xs pull-right)
						.clearfix
			.panel.panel-default
				.panel-heading.facebook
					%a{href: '#collapse-02',data:{toggle: :collapse,parent: '#accordion'}}
						%h4.panel-title
							%span.glyphicon.glyphicon-social-facebook
							Facebook
				.panel-collapse.collapse#collapse-02
					.panel-body.noty-message.fb-like-box{data:{href:'https://www.facebook.com/yamaokaya',colorscheme:'light',header:'false',stream:'true',width:'280px',height:'250px',show:{faces:'false',border:'false'}}}
				.clearfix
			.panel.panel-default
				.panel-heading.twitter
					%a{href: '#collapse-03',data:{toggle: :collapse,parent: '#accordion'}}
						%h4.panel-title
							%span.glyphicon.glyphicon-social-twitter
							Twitter
				.panel-collapse.collapse#collapse-03
					.panel-body.noty-message

						%a.twitter-timeline{href:'https://twitter.com/yamaokaya_pr',data:{chrome: 'noheader',widget:{id:'365009217540730880'}}}
							@yamaokaya_pr からのツイート
					.clearfix