.footer
	.container
		.row#footer
			.col-md-10
				.col-md-3.clearfix
					%h4 厳選豚骨と水。それだけ。
					%p
						=ymage_tag "images/footer/soup.jpg", cls:"img-thumbnail",size: '100x100'
						創業者・山岡正が長年かけて追い求めた究極のスープが、すべてのお店に受け継がれています。
					%p
						厳選された豚骨を惜しげも無く大量に投入。丸3日煮込み続けて、4日目にようやくお客様のもとに届きます。
					%p
						最初の3日間は、熟練職人の厳しい眼のもとひたすら加熱。
						4日目に入ったスープにはとても繊細な管理が求められます。
						微妙な火力管理で、
						3日前に入れた豚骨からコクと甘みを、新たに投入した豚骨から旨味を引き出します。

				.col-md-3.clearfix
					%h4 この麺だからこそ。
					%p
						= ymage_tag "images/footer/men.jpg", cls:"img-thumbnail",size: '100x100'
						表面はソフトでありながら、芯が強く、小麦の香り高い特製の太麺を使用。
					%p
						この麺を支えるのは、厳選された小麦と、毎日の気温や湿度などに合わせて
						製造方法を変えて作る麺職人の熟練技。
					%p
						この麺だからこそ、濃厚な豚骨スープの中にあっても、決して力負けしない、バランスのとれた一杯となるのです。
				.col-md-3.clearfix
					%h4 チャーシューも手作り。
					%p
						= ymage_tag "images/footer/chashu.jpg", cls:"img-thumbnail",size: '100x100'
						山岡家のチャーシューは肉本来の旨味を最も味わえる肩ロースを使用。
						煮崩れしないように紐で縛った肩ロースの塊を1時間弱茹で上げます。
					%p
						これを、店舗で毎日継ぎ足し継ぎ足し作っている秘伝の特製タレに漬け込み、
						完成です。
					%p
						手作りにこだわる山岡家では、1店舗1店舗で、毎日チャーシューを作っています。
				.col-md-3.clearfix
					%h4 新鮮なネギを手切りで。
					%p
						= ymage_tag "images/footer/negi.jpg", cls:"img-thumbnail",size: '100x100'
						山岡家のネギは純国産。店舗に届いたネギは、土をきれいに洗い流し、決められたサイズにカットします。
					%p
						これを包丁で、縦方向に細く切ったものが白髪ネギとなります。
					%p
						この工程では、機械は一切使用しません。それは、ネギの味、香り、歯ごたえを極限まで引き出すため。
					%p
						美味しいものをお客様に味わっていただくために、敢えて手間をかけています。
			.col-md-2.col-xs-12
				%h4 メルマガ会員募集！
				%p 山岡家のメルマガに登録して、お得なクーポンや最新情報をGETしよう！
				%p 今なら、なんとギョーザ無料クーポンを進呈（ご登録後2週間以内に配信）！
				%p
					=link_to 'http://my.gnavi.co.jp/brand/top.php?cType=rsmyo01' ,class: %w(btn btn-primary) ,target: '_blank' do
						会員登録はこちら
				%p
					うまく登録できない場合は…
				%p
					%ul
						%li yamaokaya.com
						%li gnavi.co.jp
					のドメイン指定解除をお願い致します。
					詳しくは
					=link_to :mag_faq  do
						こちら
.bottom-nav
	.container
		.row
			.col-xs-6.col-sm-1.col-sm-offset-4
				=link_to :yamaokaya_top,class: %w(btn btn-link) do
					ホーム
			.col-xs-6.col-sm-1
				=link_to :shop_root,class: %w(btn btn-link) do
					店舗
			.col-xs-6.col-sm-1
				=link_to menu_categorized_path(:regular),class: %w(btn btn-link) do
					メニュー
			.col-xs-6.col-sm-1
				=link_to :feedbacks,class: %w(btn btn-link) do
					ご意見・ご感想
	.col-md-3.hidden-xs
		%a.smoothScroll.top_btn#page-top{href:'#header'}
			=ymage_tag "images/btn_topback.png", size:"67x67"
.copyright
	.container
		.row
			%p.col-xs-12.text-center
				&copy; 2014 Maruchiyo Yamaokaya Corporation
