.col-md-6.clearfix
	%h4 新鮮なネギを手切りで。
	%p
		= ymage_tag "images/footer/negi.jpg", cls:"img-thumbnail",size: '100x100'
		山岡家のネギは純国産。店舗に届いたネギは、土をきれいに洗い流し、決められたサイズにカットします。
	%p
		これを包丁で、縦方向に細く切ったものが白髪ネギとなります。
	%p
		この工程では、機械は一切使用しません。それは、ネギの味、香り、歯ごたえを極限まで引き出すため。
	%p
		美味しいものをお客様に味わっていただくために、敢えて手間をかけています。