.container
	.row
		.col-xs-12
			%div
				.fb-like{style:'margin-bottom:10px',data: {layout: :button, action: :like,show: {faces: true}, share: true}}
				%a{href: "https://twitter.com/share",class: "twitter-share-button", data:{lang: :en,hashtags: "ramenyamaokaya",count: :none}}
					Tweet
			.panel.panel-default
				.panel-heading.original-news
					%h4.panel-title 
						%span.glyphicon.glyphicon-folder_open
						Main Navigation
				%ul.list-group
					=link_to :shop_root,class: 'list-group-item' do
						%span.glyphicon.glyphicon-shop
						お店を探す
					=link_to menu_categorized_path(:regular),class: 'list-group-item' do
						%span.glyphicon.glyphicon-pot
						メニューラインナップ
					=link_to :feedbacks,class: 'list-group-item' do
						%span.glyphicon.glyphicon-message_out
						ご意見・ご感想
					=link_to recruit_top_url,class: 'list-group-item' do
						%span.glyphicon.glyphicon-user_add
						採用スペシャルサイト
	%hr
	.row
		.col-xs-12
			.panel.panel-default
				.panel-heading.original-news
					%h4.panel-title 
						%span.glyphicon.glyphicon-global
						Topics
				%table.table
					- @headlines.news.each do |r|
						%tr
							%td
								%span.label.label-danger.pull-left
									=r.target_date.strftime("%m/%d")
							%td
								%a.original-news{href:r.path}
									%span.glyphicon.glyphicon-bullhorn
									=r.title