.col-xs-12#corp
	.jumbotron.col-md-12.text-center
		%h2 目指すのは、お客様･社会･社員から喜ばれる会社です。
		%p 将来その核となるのは皆さん！ぜひ当社で力を発揮して下さい！！
		%p
			=link_to jobop_url(),{target: '_blank',role: 'button',class: %w(btn btn-primary btn-lg)} do
				パート・アルバイトの採用サイトへ
			&nbsp;
			=link_to recruit_top_url(),{target: '_blank',role: 'button',class: %w(btn btn-primary btn-lg)} do
				正社員の採用サイトへ
			&nbsp;
			=link_to corp_top_url(),{target: '_blank',role: 'button',class: %w(btn btn-primary btn-lg)} do
				㈱丸千代山岡家 コーポレートサイトへ