.row
	.col-xs-12
		%h3=tt params[:category]
	.col-md-12.col-xs-12.menu-intro
		- tt("contents.intro.#{params[:category]}").each do |intro|
			%p=intro
.row
	- @menus.each do |m|
		.row
			.col-xs-12
				.col-sm-4
					.picture.well
						=ymage_tag "images/menus/photos/#{m.id}.png",size: '400x400'
				.col-sm-8.menu_details
					%h4=m.name
					%p.commets=m.comment
					%p.price-area
						%strong.text-danger.price=m.price
						%span.yen 円
						%span.zeikomi (税込み)
						-%span.zeinuki 税抜本体価格
						-%strong.text-danger.wotax=(m.price.to_i / 1.08).ceil
						-%span.yen 円
		%hr