.after-nav.container-full
	.container
		.row
			%h2.col-xs-12
				%span.glyphicon.glyphicon-pot
				=tt(params[:category])
.container
	.row
		%ol.breadcrumb.col-xs-8.pull-left
			%li
				=link_to :yamaokaya_top do
					トップ
			%li
				メニュー
			%li
				=link_to menu_categorized_path(params[:category]) do
					=tt(params[:category])
		-#SNSボタンの読み込み
		=render partial: 'yamaokaya_sns'

.container#main
	.row
		.col-xs-12#menu_tab
			%ul.nav.nav-tabs.menu-tab
				- Menu.categories.each do |c|
					%li{class: c[0] == params[:category] ? 'active': ''}
						=link_to menu_categorized_path(c[0]) do
							=tt c[0]

.container
	=render partial: "yamaokaya_menu_#{params[:category]}"
#modal
