.container#main
	.row
		.col-xs-12#menu_tab
			%ul.nav.nav-tabs.menu-tab
				- Menu.categories.each do |c|
					%li{class: c[0] == params[:category] ? 'active': ''}
						=link_to menu_categorized_path(c[0]) do
							=tt c[0]

	.row
		.container
			=render partial: "yamaokaya_menu_#{params[:category]}"
#modal
