.after-nav.container-full
	.container
		.row
			%h2.col-xs-12
				%span.glyphicon.glyphicon-pot
				=@menu.name
.container
	.row
		%ol.breadcrumb.col-xs-8.pull-left
			%li
				=link_to :yamaokaya_top do
					トップ
			%li
				メニュー
			%li
				レギュラーメニュー
		-#SNSボタンの読み込み
		=render partial: 'yamaokaya_sns'
.container
	.row
		.col-sm-8.col-sm-offset-2.col-xs-12
			=render partial: 'yamaokaya_menu_details'